.navbar{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin-top: 3rem;
    padding-top: 3rem;
    font-family: 'Open Sans', sans-serif;
}
#list{
    width:100%;
}
.card-title{
    margin-top: 12px;
}
.col-md-4{
    padding: 0.25rem;
}

.table .thead-dark th{
    background-color: #E95420;
    color: rgba(255, 255, 255, 0.6);
}

.table{
    margin-bottom: 1rem;
}

/* Small devices */
@media (min-width: 150px) {
    .navbar{

    }
    .container{
        font-size: 1rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar{

    }
    .container{
        font-size: 1.1rem;
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar{

    }
    .container{
        font-size: 1.25rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}